.desktop-icon-container {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}

.desktop-icon-container > img {
    width: 90%;
    filter: invert(100%) sepia(8%) saturate(7500%) hue-rotate(268deg) brightness(110%) contrast(107%);
}

.desktop-icon-container > p {
    margin: -10px;
}