.app-window {
    position: absolute;
    top: 40%;
    left: 40%;
    background-color: rgba(0, 0, 0, 0.372);
    z-index: 1;
    border-top: solid 3px white;
    border-left: solid 3px white;
    border-right: solid 3px black;
    border-bottom: solid 3px black;
    overflow: hidden;
}
