
html,
body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: steelblue;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    grid-auto-rows: 6rem;
    grid-auto-columns: 5rem;
    grid-gap: 0.5rem;
}

@font-face {
    font-family: 'PixelFont';
    src: url('./fonts/Retro\ Gaming.ttf') format('woff2');
}

body {
    font-family: 'PixelFont', monospace;
}
